<template>
  <footer>
    <div class="w3ls-footer-grids pt-sm-4 pt-3">
      <div class="container pt-xl-3 pb-xl-2 pb-lg-1">
        <div class="row">
          <div class="col-md-4 w3l-footer">
            <h2 class="mb-sm-3 mb-2">
              <router-link :to="{ name: 'Home' }" exact class="text-white font-italic font-weight-bold">
                <span>Голопристанська</span><br> Центральна районна лікарня
              </router-link>
            </h2>
            <p>Якісна, вчасна, професійна допомога</p>
          </div>
          <div class="col-md-5 w3l-footer my-md-0 my-4">
            <h3 class="mb-sm-3 mb-2 text-white">Адреса</h3>
            <ul class="list-unstyled">
              <li>
                <i class="fas fa-location-arrow float-left"></i>
                <p class="ml-4">Санаторна 7,
                  <span>Гола Пристань,</span>Херсонська обл. </p>
                <div class="clearfix"></div>
              </li>
              <li class="my-3">
                <i class="fas fa-phone float-left"></i>
                <p class="ml-4">1234567890</p>
                <div class="clearfix"></div>
              </li>
              <li>
                <i class="far fa-envelope-open float-left"></i>
                <a href="mailto:goprycrb@gmail.com" class="ml-3">goprycrb@gmail.com</a>
                <div class="clearfix"></div>
              </li>
            </ul>
          </div>
          <div class="col-md-3 w3l-footer">
            <h3 class="mb-sm-3 mb-2 text-white">Розділи</h3>
            <div class="nav-w3-l">
              <ul class="list-unstyled">
                <li><router-link :to="{ name: 'About' }">Про нас</router-link></li>
                <li class="mt-2"><router-link :to="{ name: 'Category' }">Котегории статей</router-link></li>
                <li class="mt-2"><router-link :to="{ name: 'Gallery' }">Галерея</router-link></li>
                <li class="mt-2"><router-link :to="{ name: 'Post' }">Стаття</router-link></li>
                <li class="mt-2"><router-link :to="{ name: 'Contact' }">Контакти</router-link></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="border-top mt-2 pt-lg-1 pt-1 pb-lg-0 pb-1 text-center">
          <p class="copy-right-grids mt-lg-1">© 2019 All Rights Reserved | Develop by
            <a href="https://ek.ks.ua/" target="_blank">Evgen</a>
          </p>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>

  export default {
    name: 'Bottom',
    data() {
      return {
      }
    },
  }
</script>
