<template>
  <div class="main-top py-1">
    <nav class="navbar navbar-expand-lg navbar-light fixed-navi">
      <div class="container">

        <h1>
          <router-link :to="{ name: 'Home' }" exact class="navbar-brand font-weight-bold font-italic">
            <span>Голопристанська</span><br> Центральна районна лікарня
          </router-link>
        </h1>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
          <ul class="navbar-nav ml-lg-auto">
            <li class="nav-item mt-lg-0 mt-3" active-class="active">
              <router-link :to="{ name: 'Home' }" exact class="nav-link">Головна</router-link>
            </li>
            <li class="nav-item mx-lg-4 my-lg-0 my-3" active-class="active">
              <router-link :to="{ name: 'About' }" class="nav-link">Про нас</router-link>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle"  active-class="active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                Інформація
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                <template v-for="item in categories">
                  <router-link :to="{ name: 'Category', params: {slug: item.slug} }" class="dropdown-item">{{item.title}}</router-link>
                </template>

                <!-- <router-link :to="{ name: 'Category' }" class="dropdown-item">Котегории статей</router-link> -->

                <!-- <div class="dropdown-divider"></div> -->

                <!-- <router-link :to="{ name: 'Gallery' }" class="dropdown-item">Галерея</router-link> -->

                <!-- <div class="dropdown-divider"></div> -->
                <!-- <router-link :to="{ name: 'Post' }" class="dropdown-item">Стаття</router-link> -->
              </div>
            </li>
            <li class="nav-item mx-lg-4 my-lg-0 my-3" active-class="active">
              <router-link :to="{ name: 'Contact' }" class="nav-link">Контакти</router-link>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</template>

<script>
  import axios from 'axios';
  export default {
    name: 'Top',
    data() {
      return {
        categories: []
      }
    },
    created: function() {
      axios.get('/api/categories/')
      .then(
        (response) => {
          this.categories = response.data;
        }
      )
      .catch(
        (error) => console.log(error)
      );
    }
  }
</script>
