<template>
  <div>

    <div class="inner-banner-w3ls">
      <div class="container">
      </div>
    </div>

    <div class="breadcrumb-agile">
      <div aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="index.html">Головна</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Про нас</li>
        </ol>
      </div>
    </div>

    <section class="about">
      <div class="container py-xl-5 py-lg-3">
        <div class="w3ls-titles text-center mb-md-5 mb-4">
          <h3 class="title">Голопристанська ЦРЛ</h3>
          <span>
            <i class="fas fa-user-md"></i>
          </span>
        </div>
        <p class="aboutpara text-center mx-auto">У традиціях лікарні постійне підвищення професійної майстерності, освоєння і впровадження в практику сучасних лікувально-діагностичних та комп’ютерних технологій, досягнень медичної науки. Девіз лікарні - «Здоров’я – найвища цінність» - свідчення високої відповідальності закладу перед суспільством.</p>

        <section class="team py-5">
          <div class="container py-xl-5 py-lg-3">
            <div class="w3ls-titles text-center mb-5">
              <h3 class="title">Наші лікарі</h3>
              <span>
                <i class="fas fa-user-md"></i>
              </span>
              <!-- <p class="mt-2">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
            </div>
            <div class="row inner-sec-w3layouts-agileinfo">

              <div v-for="item in doctors" class="col-md-4 team-grids text-center">
                <img :src="'/resize/340/388?img='+encodeURI(item.image)" :alt="item.title" class="img-fluid" />
                <div class="team-info">
                  <div class="caption">
                    <h4>{{item.title}}</h4>
                    <h6>{{item.work}}</h6>
                  </div>
                  <div class="social-icons-section d-none">
                    <a class="fac" href="#">
                      <i class="fab fa-facebook"></i>
                    </a>
                    <a class="twitter" href="#">
                      <i class="fab fa-twitter-square"></i>
                    </a>
                    <a class="pinterest" href="#">
                      <i class="fab fa-pinterest"></i>
                    </a>

                  </div>

                </div>
              </div>

            </div>
          </div>
        </section>


        <div class="w3ls-titles text-center mb-5">
          <h3 class="title">Останні новини</h3>
          <span>
            <i class="fas fa-user-md"></i>
          </span>
          <!-- <p class="mt-2">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
        </div>


        <div class="row about_grids mt-5">
          <div class="col-lg-4" v-for="item in pages">
            <img :src="'/resize/350/232?img='+encodeURI(item.image)" :alt="item.title" class="img-fluid" />
            <h3 class="mt-3 text-dark" style="height: 56px;overflow: hidden;">{{item.title}}</h3>
            <p class="my-3" v-html="item.preview" style="height: 60px;overflow: hidden;"></p>
            <router-link :to="{ name: 'Page', params: {slug: item.slug} }">Детальніше</router-link>
          </div>
        </div>


      </div>
    </section>
  </div>
</template>

<script>
  import axios from 'axios';
  export default {
    name: 'About',
    data() {
      return {
        doctors: false,
        pages: false,
      }
    },
    methods: {
      getContent (slug) {
        axios.get('/api/doctors/')
        .then(
          (response) => {
            this.doctors = response.data;
          }
        )
        .catch(
          (error) => console.log(error)
        );
      },
      getPages () {
        axios.get('/api/last/')
        .then(
          (response) => {
            this.pages = response.data;
          }
        )
        .catch(
          (error) => console.log(error)
        );
      }
    },
    created: function() {
      this.getContent();
      this.getPages();
    },
  }
</script>

  
