<template>
  <div>

    <top></top>

    <router-view></router-view>

    <bottom></bottom>

  </div>
</template>

<script>
// import axios from 'axios';
import Top from '@/views/components/Top'
import Bottom from '@/views/components/Bottom'

export default {
  name: 'App',
  components: {
    Top,
    Bottom,
  }
}
</script>
