<template>
  <div>
    <div class="inner-banner-w3ls">
      <div class="container"></div>
    </div>
    <!-- page details -->
    <div class="breadcrumb-agile">
      <div aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="index.html">Home</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Gallery</li>
        </ol>
      </div>
    </div>
    <!-- //page details -->

    <!-- gallery -->
    <div class="gallery py-5">
      <div class="container py-xl-5 py-lg-3">
        <div class="w3ls-titles text-center mb-5">
          <h3 class="title">Gallery</h3>
          <span>
            <i class="fas fa-user-md"></i>
          </span>
          <p class="mt-2">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <section>
          <ul id="da-thumbs" class="da-thumbs">

            <gallery :images="images" :index="index" @close="index = null"></gallery>
            <li
              v-for="(image, imageIndex) in images"
              :key="imageIndex"
            >
              <a @click="index = imageIndex" class="b-link-stripe b-animate-go  thickbox" :title="image.title">
                <img :src="image.href" :alt="image.title" class="img-fluid" />
                <div>
                  <h5>{{image.title}}</h5>
                  <span>{{image.description}}</span>
                </div>
              </a>
            </li>

          </ul>
        </section>
      </div>
    </div>

  </div>
</template>

<script>
  import VueGallery from 'vue-gallery';
  export default {
    name: 'Gallery',
    components: {
      'gallery': VueGallery
    },
    data() {
      return {
        images: [
          {
            title: 'Medic',
            description: 'Sed ut perspiciatis unde omnis iste natus error sit',
            href: 'images/g1.jpg',
          },
          {
            title: 'Medic',
            description: 'Sed ut perspiciatis unde omnis iste natus error sit',
            href: 'images/g2.jpg',
          },
          {
            title: 'Medic',
            description: 'Sed ut perspiciatis unde omnis iste natus error sit',
            href: 'images/g3.jpg',
          },
          {
            title: 'Medic',
            description: 'Sed ut perspiciatis unde omnis iste natus error sit',
            href: 'images/g4.jpg',
          },
          {
            title: 'Medic',
            description: 'Sed ut perspiciatis unde omnis iste natus error sit',
            href: 'images/g5.jpg',
          },
          {
            title: 'Medic',
            description: 'Sed ut perspiciatis unde omnis iste natus error sit',
            href: 'images/g6.jpg',
          },
          {
            title: 'Medic',
            description: 'Sed ut perspiciatis unde omnis iste natus error sit',
            href: 'images/g7.jpg',
          },
          {
            title: 'Medic',
            description: 'Sed ut perspiciatis unde omnis iste natus error sit',
            href: 'images/g8.jpg',
          },
          {
            title: 'Medic',
            description: 'Sed ut perspiciatis unde omnis iste natus error sit',
            href: 'images/g9.jpg',
          },
        ],
        index: null
      }
    }
  }
</script>
