<template>
  <div>

    <slick
      class="slider"
      ref="slick"
      :options="slickOptions">

      <div v-for="item in slides" v-bind:key="item.id" class="banner-top" :style="'background-image: url(/resize/1680/900?img='+encodeURI(item.image)+');'">
        <div class="banner-info_agile_w3ls">
          <div class="container">
            <h3 v-html="item.title"></h3>
            <p class="mt-3 mb-md-5 mb-3"></p>
            <a v-if="item.link" :href="item.link">Детальніше
              <i class="fa fa-caret-right ml-2" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>

    </slick>

    <div class="clearfix"></div>

    <!-- middle section -->
    <div class="w3ls-welcome py-5">
      <div class="container py-xl-5 py-lg-3">
        <div class="row">
          <div class="col-lg-5 welcome-right">
            <img src="images/b2.png" alt=" " class="img-fluid">
          </div>
          <div class="col-lg-7 welcome-left mt-4">
            <h3>Безкоштовна діагностика</h3>
            <h6 class="mt-3">Ще одна перевага, якою в 2019 році можуть скористатись українці</h6>
            <h4 class="my-4 font-italic">Всі хто уклав декларації про надання первинної медичної допомоги, - можуть отримувати безкоштовної діагностики.</h4>
            <p> З 1 липня за направленням сімейного лікаря українці зможуть проходити діагностику безкоштовно. Нововведення стосується понад 80% усіх досліджень. До програми увійдуть 54 медичні послуги від аналізів і флюорографії - до УЗД і ендоскопічних досліджень (включно з ендоскопічним оперуванням)</p>
            <!-- <div class="readmore-w3-agileits mt-md-5 mt-4">
              <a href="single.html" class="w3ls-button-agile text-dark">Детальніше</a>
            </div> -->
          </div>
        </div>
      </div>
    </div>
    <!-- //middle section -->

    <!-- services -->
    <div class="why-choose-agile pt-5" id="services">
      <div class="container pt-xl-5 pt-lg-3">
        <div class="w3ls-titles text-center mb-5">
          <h3 class="title">Наші відділення</h3>
          <span>
            <i class="fas fa-user-md"></i>
          </span>
          <!-- <p class="mt-2">текст текст текст текст текст текст.</p> -->
        </div>
        <div class="row why-choose-agile-grids-top">
          <div class="col-lg-4 agileits-w3layouts-grid">
            <div class="row wthree_agile_us">
              <div class="col-3 agile-why-text p-0 text-right">
                <div class="wthree_features_grid">
                  <i class="fas fa-user-md"></i>
                </div>
              </div>
              <div class="col-9 agile-why-text-2">
                <h4 class="text-dark font-weight-bold">Поліклінічне</h4>
              </div>
            </div>
            <div class="row wthree_agile_us my-3">
              <div class="col-3 agile-why-text p-0 text-right">
                <div class="wthree_features_grid">
                  <i class="fas fa-user-md"></i>
                </div>
              </div>
              <div class="col-9 agile-why-text-2">
                <h4 class="text-dark font-weight-bold">Терапевтичне</h4>
              </div>
            </div>
            <div class="row wthree_agile_us my-3">
              <div class="col-3 agile-why-text p-0 text-right">
                <div class="wthree_features_grid">
                  <i class="fas fa-syringe"></i>
                </div>
              </div>
              <div class="col-9 agile-why-text-2">
                <h4 class="text-dark font-weight-bold">Дитяче</h4>
              </div>
            </div>
            <div class="row wthree_agile_us my-3">
              <div class="col-3 agile-why-text p-0 text-right">
                <div class="wthree_features_grid">
                  <i class="fab fa-medrt"></i>
                </div>
              </div>
              <div class="col-9 agile-why-text-2">
                <h4 class="text-dark font-weight-bold">Гінекологічне</h4>
              </div>
            </div>
            <div class="row wthree_agile_us my-3">
              <div class="col-3 agile-why-text p-0 text-right">
                <div class="wthree_features_grid">
                  <i class="fas fa-user-md"></i>
                </div>
              </div>
              <div class="col-9 agile-why-text-2">
                <h4 class="text-dark font-weight-bold">Пологове</h4>
              </div>
            </div>
          </div>
          <div class="col-lg-4 agileits-w3layouts-grid img text-center">
            <img src="images/b3.png" alt=" " class="img-fluid" />
          </div>
          <div class="col-lg-4 agileits-w3layouts-grid">
            <div class="row wthree_agile_us">
              <div class="col-9 agile-why-text-2">
                <h4 class="text-dark font-weight-bold">Неврологічне</h4>
              </div>
              <div class="col-3 agile-why-text p-0">
                <div class="wthree_features_grid">
                  <i class="fas fa-medkit"></i>
                </div>
              </div>
            </div>
            <div class="row wthree_agile_us my-3">
              <div class="col-9 agile-why-text-2">
                <h4 class="text-dark font-weight-bold">Травматологічне</h4>
              </div>
              <div class="col-3 agile-why-text p-0">
                <div class="wthree_features_grid">
                  <i class="fas fa-wheelchair"></i>
                </div>
              </div>
            </div>
            <div class="row wthree_agile_us my-3">
              <div class="col-9 agile-why-text-2">
                <h4 class="text-dark font-weight-bold">Хірургічне</h4>
              </div>
              <div class="col-3 agile-why-text p-0">
                <div class="wthree_features_grid">
                  <i class="fas fa-hospital"></i>
                </div>
              </div>
            </div>
            <div class="row wthree_agile_us my-3">
              <div class="col-9 agile-why-text-2">
                <h4 class="text-dark font-weight-bold">Інфекційне</h4>
              </div>
              <div class="col-3 agile-why-text p-0">
                <div class="wthree_features_grid">
                  <i class="fas fa-hospital"></i>
                </div>
              </div>
            </div>
            <div class="row wthree_agile_us my-3">
              <div class="col-9 agile-why-text-2">
                <h4 class="text-dark font-weight-bold">Анастезіологічне</h4>
              </div>
              <div class="col-3 agile-why-text p-0">
                <div class="wthree_features_grid">
                  <i class="fas fa-hospital"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- //services -->

    <!-- blog -->
    <div class="blog-w3ls py-5" id="blog">
      <div class="container py-xl-5 py-lg-3">
        <div class="w3ls-titles text-center mb-5">
          <h3 class="title text-white">Поради лікарів</h3>
          <span>
            <i class="fas fa-user-md text-white"></i>
          </span>
          <!-- <p class="mt-2 text-white">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
        </div>
        <div class="row package-grids mt-5">

          <div class="col-md-4 pricing" v-for="item in blog">
            <router-link :to="{ name: 'Page', params: {slug: item.slug} }">
              <div class="price-top">
                <img :src="'/resize/350/232?img='+encodeURI(item.image)" :alt="item.title" class="img-fluid" />
                <!-- <h3>13
                  <span>August</span>
                </h3> -->
              </div>
              <div class="price-bottom p-4">
                <h4 class="text-dark mb-3" style="height: 64px;overflow: hidden;">{{item.title}}</h4>
                <!-- <a href="single.html">
                  <i class="fas fa-user mr-2"></i>Posted by accusantium</a> -->
              </div>
            </router-link>
          </div>

        </div>
      </div>
    </div>
    <!-- //blog -->
  </div>
</template>

<script>
  import Slick from 'vue-slick';
  import axios from 'axios';
  export default {
    name: 'Home',
    components: {
      Slick,
    },
    data() {
      return {
        slickOptions: {
            slidesToShow: 1,
            autoplay: true,
            infinite: true,
            speed: 300,
            arrows: false,
            fade: true,
            cssEase: 'linear',
            // Any other options that can be got from plugin documentation
        },
        slides: false,
        blog: false,
      }
    },
    created: function() {
      this.getContent();
    },
    // All slick methods can be used too, example here
    methods: {
        // next() {
        //     this.$refs.slick.next();
        // },

        // prev() {
        //     this.$refs.slick.prev();
        // },

        // reInit() {
        //     // Helpful if you have to deal with v-for to update dynamic lists
        //     this.$nextTick(() => {
        //         this.$refs.slick.reSlick();
        //     });
        // },

        getContent (slug) {
          axios.get('/api/home/')
          .then(
            (response) => {
              this.slides = response.data.slides;
              this.blog = response.data.blog;
            }
          )
          .catch(
            (error) => console.log(error)
          );
        }
    },
    watch: { // reinit slider
        slides: function () {
            let currIndex = this.$refs.slick.currentSlide()
            this.$refs.slick.destroy()
            this.$nextTick(() => {
            this.$refs.slick.create()
            this.$refs.slick.goTo(currIndex, true)
            })
        }
    }
  }
</script>
