<template>
  <div>

    <div class="inner-banner-w3ls">
      <div class="container"></div>
    </div>

    <div class="breadcrumb-agile">
      <div aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <router-link :to="{ name: 'Home' }">Головна</router-link>
          </li>
          <li class="breadcrumb-item">
            <router-link :to="{ name: 'Category', params: {slug: page.category.slug} }">{{page.category.title}}</router-link>
          </li>
          <li class="breadcrumb-item active" aria-current="page">{{page.title}}</li>
        </ol>
      </div>
    </div>

    <div class="single-w3l py-5">
      <div class="container py-xl-5 py-lg-3">
        <div class="w3ls-titles text-center mb-5">
          <h3 class="title">{{page.title}}</h3>
        </div>

        <div class="row inner_sec_info">

          <div class="col-lg-9 single-left">
            <div class="single-left1">
              <img :src="page.image" :alt="page.title" class="img-fluid" v-if="page.image" />
              <ul class="blog_list my-3 text-center">
                <li>{{page.updated_at}}</li>
              </ul>
              <p v-html="page.preview"></p>
              <p v-html="page.content"></p>
            </div>
          </div>

          <div class="col-lg-3 event-right mt-lg-0 mt-sm-5 mt-4">
            <div class="event-right1">
              <!-- <div class="search1 d-none">
                <form class="form-inline" action="#" method="post">
                  <input class="form-control rounded-0 mr-sm-2" type="search" placeholder="Search Here" aria-label="Search"
                      required>
                  <button class="btn btn-outline-success rounded-0 mt-3" type="submit">Search</button>
                </form>
              </div> -->

              <div class="posts p-4 border">
                <h4 class="blog-title text-dark">{{page.category.title}}</h4>
                <div class="posts-grids">

                  <div class="row posts-grid mt-4" v-for="item in last">
                    <div class="col-lg-12 posts-grid-left pr-0">
                      <router-link :to="{ name: 'Page', params: {slug: item.slug} }">
                        <img :src="'/resize/40/48?img='+encodeURI(item.image)" :alt="item.title" class="img-fluid" style="float: left; margin: 0 10px 10px 0;" />
                        <h6 class="text-dark">{{item.title}}</h6>
                      </router-link>
                    </div>
                  </div>

                </div>
              </div>

              <div class="categories my-4 p-4 border">
                <h4 class="blog-title text-dark">Категорії</h4>
                <ul>
                  <li class="mt-3" v-for="item in categories">
                    <router-link :to="{ name: 'Category', params: {slug: item.slug} }"><i class="fas fa-check mr-1"></i> {{item.title}}</router-link>
                  </li>
                </ul>
              </div>

            </div>
          </div>

        </div>

      </div>
    </div>

  </div>
</template>

<script>
  import axios from 'axios';
  export default {
    name: 'Page',
    data() {
      return {
        page: {
          category: false,
        },
        last: false,
        categories: false,
      }
    },
    methods: {
      getContent (slug) {
        axios.get('/api/page/'+slug)
        .then(
          (response) => {
            this.page = response.data.page;
            this.last = response.data.last;
          }
        )
        .catch(
          (error) => console.log(error)
        );

        axios.get('/api/categories/')
        .then(
          (response) => {
            this.categories = response.data;
          }
        )
        .catch(
          (error) => console.log(error)
        );
      }
    },
    created: function() {
      this.getContent(this.$route.params.slug);
    },
    beforeRouteUpdate (to, from, next) {
      this.getContent(to.params.slug);
      next();
    }
  }
</script>
