<template>
  <div>
    <!-- banner 2 -->
    <div class="inner-banner-w3ls">
      <div class="container">

      </div>
      <!-- //banner 2 -->
    </div>
    <!-- page details -->
    <div class="breadcrumb-agile">
      <div aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="index.html">Головна</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Single Page</li>
        </ol>
      </div>
    </div>
    <!-- //page details -->

    <!-- single -->
    <div class="single-w3l py-5">
      <div class="container py-xl-5 py-lg-3">
        <div class="w3ls-titles text-center mb-5">
          <h3 class="title">Single Page</h3>
          <span>
            <i class="fas fa-user-md"></i>
          </span>
          <p class="mt-2">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>

        <div class="row inner_sec_info">
          <!-- left side -->
          <div class="col-lg-8 single-left">
            <div class="single-left1">
              <img src="images/3.jpg" alt=" " class="img-fluid" />
              <h6 class="blog-first text-dark text-center my-4">
                <i class="far fa-user mr-2"></i>Jenny Joy
              </h6>
              <ul class="blog_list my-3 text-center">
                <li>June 02, 2018</li>
                <li class="mx-3">
                  <a href="#">
                    <i class="far fa-heart mr-1"></i>
                    22</a>
                </li>
                <li>
                  <a href="#">
                    <i class="far fa-comments mr-1"></i>
                    16</a>
                </li>
              </ul>
              <h5 class="card-title">
                <a href="single.html" class="text-dark">Sed ut perspiciatis unde omnis iste natus error sit facilisis erat
                  posuere erat</a>
              </h5>
              <p>In consectetur, elit in scelerisque malesuada, tellus leo viverra massa, nec malesuada turpis lectus ac
                urna. Suspendisse
                ut neque orci. Phasellus tellus diam, pulvinar sit amet elit sit amet, fermentum viverra eros. Praesent neque
                purus,
                rhoncus nec nibh non, mollis sodales odio. Nullam facilisis diam non magna porta luctus. Aenean facilisis erat
                posuere
                erat ornare ultrices. Aliquam ac arcu interdum, dapibus nibh convallis, semper augue.
                <i class="my-3 font-weight-bold">Nunc a urna turpis. Aenean vestibulum elementum nisi. Aenean aliquet nec mi
                  et lacinia. Aliquam maximus iaculis
                  mi elit in scelerisque malesuada, tellus leo viverra massa, sed efficitur orci efficitur nec.</i> In
                consectetur,
                elit in scelerisque malesuada, tellus leo viverra massa, nec malesuada turpis lectus ac urna. Suspendisse ut
                neque
                orci. Phasellus tellus diam, pulvinar sit amet elit sit amet, fermentum viverra eros. Praesent neque purus,
                rhoncus
                nec nibh non, mollis sodales odio.</p>
            </div>
            <div class="admin p-4 my-4">
              <p>
                <i class="fas fa-quote-left mr-2"></i>nibh eu consequat magna ipsum ac ex. Nulla iaculis tincidunt elit,
                tortor luctus sit amet. Morbi in porta dolor.
                Morbi eget dui elit. consequat magna ipsum ac ex, Nulla iaculis consequat magna ipsum ac ex Nulla iaculis.
                <i class="fas fa-quote-right ml-2"></i>
              </p>
              <a href="#" class="mt-3 font-weight-bold text-right blockquote-footer">James Doe</a>
            </div>
            <div class="row single-left2">
              <div class="col-md-6 single-left2-left">
                <ul>
                  <li class="mt-3">
                    <i class="fas fa-check mr-2"></i>
                    <a href="single.html">At vero eos et accusamus iusto</a>
                  </li>
                  <li class="mt-3">
                    <i class="fas fa-check mr-2"></i>
                    <a href="single.html">Sed ut perspiciatis unde omnis</a>
                  </li>
                  <li class="mt-3">
                    <i class="fas fa-check mr-2"></i>
                    <a href="single.html">Accusantium doloremque lauda</a>
                  </li>
                  <li class="mt-3">
                    <i class="fas fa-check mr-2"></i>
                    <a href="single.html">Vel illum qui dolorem fugiat quo</a>
                  </li>
                  <li class="mt-3">
                    <i class="fas fa-check mr-2"></i>
                    <a href="single.html">Quis autem vel eum repreh</a>
                  </li>
                  <li class="mt-3">
                    <i class="fas fa-check mr-2"></i>
                    <a href="single.html">Neque porro quisquam est qui</a>
                  </li>
                </ul>
              </div>
              <div class="col-md-6 single-left2-left">
                <ul>
                  <li class="mt-3">
                    <i class="fas fa-check mr-2"></i>
                    <a href="single.html">At vero eos et accusamus iusto</a>
                  </li>
                  <li class="mt-3">
                    <i class="fas fa-check mr-2"></i>
                    <a href="single.html">Sed ut perspiciatis unde omnis</a>
                  </li>
                  <li class="mt-3">
                    <i class="fas fa-check mr-2"></i>
                    <a href="single.html">Accusantium doloremque lauda</a>
                  </li>
                  <li class="mt-3">
                    <i class="fas fa-check mr-2"></i>
                    <a href="single.html">Vel illum qui dolorem fugiat quo</a>
                  </li>
                  <li class="mt-3">
                    <i class="fas fa-check mr-2"></i>
                    <a href="single.html">Quis autem vel eum repreh</a>
                  </li>
                  <li class="mt-3">
                    <i class="fas fa-check mr-2"></i>
                    <a href="single.html">Neque porro quisquam est qui</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="comments my-5">
              <h3 class="blog-title text-dark">Our Recent Comments</h3>
              <div class="comments-grids mt-4">
                <div class="row comments-grid">
                  <div class="col-3 comments-grid-left">
                    <img src="images/te1.jpg" alt=" " class="img-thumbnail" />
                  </div>
                  <div class="col-8 comments-grid-right mt-3">
                    <h4>Parker Moe</h4>
                    <ul class="my-2">
                      <li class="font-weight-bold">6 June 2018
                        <i>|</i>
                      </li>
                      <li>
                        <a href="#" class="font-weight-bold">Reply</a>
                      </li>
                    </ul>
                    <p>mattis ut hendrerit non, facilisis eget mauris. Sed ultricies nec purus quis tempor. Phasellus bibendum
                      eu.</p>
                  </div>
                </div>
                <div class="row comments-grid my-4">
                  <div class="col-3 comments-grid-left">
                    <img src="images/te2.jpg" alt=" " class="img-thumbnail" />
                  </div>
                  <div class="col-8 comments-grid-right mt-3">
                    <h4>Mary Jane</h4>
                    <ul class="my-2">
                      <li class="font-weight-bold">16 May 2018
                        <i>|</i>
                      </li>
                      <li>
                        <a href="#" class="font-weight-bold">Reply</a>
                      </li>
                    </ul>
                    <p>mattis ut hendrerit non, facilisis eget mauris. Sed ultricies nec purus quis tempor. Phasellus bibendum
                      eu.</p>
                  </div>
                </div>
                <div class="row comments-grid">
                  <div class="col-3 comments-grid-left">
                    <img src="images/te3.jpg" alt=" " class="img-thumbnail" />
                  </div>
                  <div class="col-8 comments-grid-right mt-3">
                    <h4>Michael Loe</h4>
                    <ul class="my-2">
                      <li class="font-weight-bold">16 June 2018
                        <i>|</i>
                      </li>
                      <li>
                        <a href="#" class="font-weight-bold">Reply</a>
                      </li>
                    </ul>
                    <p>mattis ut hendrerit non, facilisis eget mauris. Sed ultricies nec purus quis tempor. Phasellus bibendum
                      eu.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="leave-coment-form">
              <h3 class="blog-title text-dark mb-4">Leave a Reply</h3>
              <form action="#" method="post">
                <input type="text" name="Name" placeholder="Name" required="">
                <input type="email" name="Email" placeholder="Email" required="">
                <textarea name="Message" placeholder="Your comment here..." required=""></textarea>
                <div class="mm_single_submit">
                  <input type="submit" value="Post Comment">
                </div>
              </form>
            </div>
          </div>
          <!-- //left side -->
          <!-- right side -->
          <div class="col-lg-4 event-right mt-lg-0 mt-sm-5 mt-4">
            <div class="event-right1">
              <div class="search1">
                <form class="form-inline" action="#" method="post">
                  <input class="form-control rounded-0 mr-sm-2" type="search" placeholder="Search Here" aria-label="Search"
                      required>
                  <button class="btn btn-outline-success rounded-0 mt-3" type="submit">Search</button>
                </form>
              </div>
              <div class="categories my-4 p-4 border">
                <h3 class="blog-title text-dark">Categories</h3>
                <ul>
                  <li class="mt-3">
                    <i class="fas fa-check mr-2"></i>
                    <a href="single.html">At vero eos et accusamus iusto</a>
                  </li>
                  <li class="mt-3">
                    <i class="fas fa-check mr-2"></i>
                    <a href="single.html">Sed ut perspiciatis unde omnis</a>
                  </li>
                  <li class="mt-3">
                    <i class="fas fa-check mr-2"></i>
                    <a href="single.html">Accusantium doloremque lauda</a>
                  </li>
                  <li class="mt-3">
                    <i class="fas fa-check mr-2"></i>
                    <a href="single.html">Vel illum qui dolorem fugiat quo</a>
                  </li>
                  <li class="mt-3">
                    <i class="fas fa-check mr-2"></i>
                    <a href="single.html">Quis autem vel eum repreh</a>
                  </li>
                  <li class="mt-3">
                    <i class="fas fa-check mr-2"></i>
                    <a href="single.html">Neque porro quisquam est qui</a>
                  </li>
                </ul>
              </div>
              <div class="posts p-4 border">
                <h3 class="blog-title text-dark">Our Events</h3>
                <div class="posts-grids">
                  <div class="row posts-grid mt-4">
                    <div class="col-lg-4 col-md-3 col-4 posts-grid-left pr-0">
                      <a href="single.html">
                        <img src="images/n1.jpg" alt=" " class="img-fluid" />
                      </a>
                    </div>
                    <div class="col-lg-8 col-md-7 col-8 posts-grid-right mt-lg-0 mt-4">
                      <h4>
                        <a href="single.html" class="text-dark">Sed ut perspiciatis unde omni</a>
                      </h4>
                      <ul class="wthree_blog_events_list mt-2">
                        <li class="mr-2 text-dark">
                          <i class="fa fa-calendar mr-2" aria-hidden="true"></i>07/07/18</li>
                        <li>
                          <i class="fa fa-user" aria-hidden="true"></i>
                          <a href="single.html" class="text-dark ml-2">Admin</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="row posts-grid mt-4">
                    <div class="col-lg-4 col-md-3 col-4 posts-grid-left pr-0">
                      <a href="single.html">
                        <img src="images/n6.jpg" alt=" " class="img-fluid" />
                      </a>
                    </div>
                    <div class="col-lg-8 col-md-7 col-8 posts-grid-right mt-lg-0 mt-4">
                      <h4>
                        <a href="single.html" class="text-dark">Sed ut perspiciatis unde omni</a>
                      </h4>
                      <ul class="wthree_blog_events_list mt-2">
                        <li class="mr-2 text-dark">
                          <i class="fa fa-calendar mr-2" aria-hidden="true"></i>23/08/18</li>
                        <li>
                          <i class="fa fa-user" aria-hidden="true"></i>
                          <a href="single.html" class="text-dark ml-2">Admin</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="row posts-grid mt-4">
                    <div class="col-lg-4 col-md-3 col-4 posts-grid-left pr-0">
                      <a href="single.html">
                        <img src="images/n3.jpg" alt=" " class="img-fluid" />
                      </a>
                    </div>
                    <div class="col-lg-8 col-md-7 col-8 posts-grid-right mt-lg-0 mt-4">
                      <h4>
                        <a href="single.html" class="text-dark">Sed ut perspiciatis unde omni</a>
                      </h4>
                      <ul class="wthree_blog_events_list mt-2">
                        <li class="mr-2 text-dark">
                          <i class="fa fa-calendar mr-2" aria-hidden="true"></i>13/08/18</li>
                        <li>
                          <i class="fa fa-user" aria-hidden="true"></i>
                          <a href="single.html" class="text-dark ml-2">Admin</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tags mt-4 p-4 border">
                <h3 class="blog-title text-dark">Recent Tags</h3>
                <ul class="mt-4">
                  <li>
                    <a href="single.html" class="text-dark border">Designs</a>
                  </li>
                  <li>
                    <a href="single.html" class="text-dark border">Growth</a>
                  </li>
                  <li>
                    <a href="single.html" class="text-dark border">Latest</a>
                  </li>
                  <li>
                    <a href="single.html" class="text-dark border">Price</a>
                  </li>
                  <li>
                    <a href="single.html" class="text-dark border">Tools</a>
                  </li>
                  <li>
                    <a href="single.html" class="text-dark border">Real Estate</a>
                  </li>
                  <li>
                    <a href="single.html" class="text-dark border">Work Space</a>
                  </li>
                  <li>
                    <a href="single.html" class="text-dark border">New Property</a>
                  </li>
                  <li>
                    <a href="single.html" class="text-dark border">Advantage</a>
                  </li>
                  <li>
                    <a href="single.html" class="text-dark border">Concepts</a>
                  </li>
                  <li>
                    <a href="single.html" class="text-dark border">Apartment</a>
                  </li>
                  <li>
                    <a href="single.html" class="text-dark border">Property</a>
                  </li>
                  <li>
                    <a href="single.html" class="text-dark border">Research</a>
                  </li>
                  <li>
                    <a href="single.html" class="text-dark border">Tips</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- //right side -->
        </div>

      </div>
    </div>
    <!-- //single -->
  </div>
</template>

<script>

  export default {
    name: 'Post',
    data() {
      return {
      }
    },
  }
</script>
